<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/Layout.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div>

        <div class="menu-container">

            <div class="dropdown">

                <button class="dropbtn"> Dropdown </button>

                <div class="dropdown-content-container">

                    <div class="dropdown-content">

                        <div class="links">
                            @Html.ActionLink("Home", "Index", "Home")
                            @Html.ActionLink("O mnie", "About", "Home")
                            @Html.ActionLink("Architektura", "PortfolioMainpage", "Portfolio")
                            @Html.ActionLink("Programowanie", "ProgrammingMainpage", "Programming")
                        </div>

                        <button class="btn_close">

                            Zamknij

                        </button>

                        <div>
                            <div class="tag-container">

                                <div class="contact">

                                    <h2> Would you like to know more? </h2>
                                    <p> Contact me: </p>
                                    <div class="contactbtn">
                                        @Html.ActionLink("Kontakt", "Contact", "Home")
                                    </div>

                                </div>

                                <div class="tag">

                                    <h1> Konrad Wesołowski </h1>
                                    <p> e-mail: wesolowski.konrad@outlook.com </p>
                                    <p> phone: XXX-XXX-XXX </p>

                                </div>

                            </div>

                            <footer>
                                <p>&copy; @DateTime.Now.Year - My portfolio web application</p>
                            </footer>
                        </div>

                    </div>

                </div>

            </div>

        </div>


        <div class="body-content">

            @RenderBody()

        </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    </div>

</body>

</html>
